.line:hover {
    background-color: lightskyblue;
    cursor: pointer;
}


.title{
    font-size: 150%;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}